@font-face {
  font-family: "PT Sans Narrow";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/pt_sans_narrow.woff") format("woff");
}
@font-face {
  font-family: "PT Sans Narrow";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/pt_sans_narrow_bold.woff") format("woff");
}

@import 'forecastfont';

@mixin clearfix {
    &:before, &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
}

/* Base Application Styles */
body {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 60px;
  color: #fff;
  background: #000;
}

* {
  box-sizing: border-box;
}

// #app {
//   // NOTE: screen size on mirror
//   border: 1px solid #f00;
//   width: 600px;
//   height: 1024px;
// }

.clock {
  font-size: 2em;
  text-align: center;

  border-bottom: 1px solid #fff;

  .diem {
    font-variant: small-caps;
  }
}

.weather {
  .current-summary {
    @include clearfix;

    margin-bottom: 1em;

    .conditions {
      float: left;
      position: relative;
      font-size: 300px;
      width: 300px;
      height: 300px;
    }

    .temp {
      float: right;
      font-size: 1.6em;
      margin-top: 60px;
      margin-right: 20px;
      text-align: right;
    }
  }

  .forecast {
    .day {
      position: relative;
      width: 20%;
      float: left;

      border-right: 1px solid #fff;
      &:last-child { border-right: none }

      .day-name {
        position: absolute;
        top: 0;
        left: 10px;
        font-size: 0.4em;
      }

      .conditions {
        width: 100px;
        height: 100px;
        font-size: 100px;
        margin: 15px auto;
      }

      .temp {
        text-align: center;
        font-size: 0.5em;

        .lo { color: rgb(133, 216, 247); }
        .hi { color: #F44; }
      }
    }

  }
}
