@font-face {
  font-family: "PT Sans Narrow";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/pt_sans_narrow.woff") format("woff");
}
@font-face {
  font-family: "PT Sans Narrow";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/pt_sans_narrow_bold.woff") format("woff");
}

/* Base Application Styles */
body {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 24px;
  color: #fff;
  background: #222;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

@import 'forecastfont';
